.container--right {
    display: flex;
    flex-direction: column;
    background-color: #5b7c8e;
    color: white;
    font-size: small;
    padding: 1.5em;
    margin: 0;
    min-width: 1em;
    height: 438px;
    overflow-y: scroll;
}

.itin-card {
    border: 1px solid white;
    padding: 1em;
    margin: 1em;
}

.itin-card--park {
    font-weight: 400;
}