.container--right {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #5b7c8e;
    color: white;
    font-size: small;
    padding: 1.5em;
    margin: 0;
    min-width: 1em;
}

.card {
    border: 1px solid white;
    padding: 1em;
    margin: 1em;
}