@import "./header.css";
@import "./select.css";
@import "./itinerary-preview.css";
@import "./itinerary-saved.css";
@import "./weather.css";

    /* 
    color: #1a4766;
    color: #5b7c8e;
    color: #809eae;
    color: #b2b044; 
    */

body {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    color: #191919;
    padding: 2em;
}

h2 {
    font-size: large;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: large;
    margin: 0;
}

.container__main {
    display: flex;
    flex: 1;
    height: auto;
    flex-direction: column;
    margin: 0;
}

.container--content {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container--left {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color: lightgrey;
}

.container--right {
    display: flex;
    flex: 1;
}