.container__select-list {
    display: flex;
    flex-direction: column;
    background-color: #1a4766;
    color: white;
    padding: 2rem;
    margin: 1rem;
}

.container--all-selectors {
    display: flex;
    flex-direction: row;
}

#parkSelect, 
#eaterySelect, 
#bizSelect {
    display: flex;
    justify-content: space-between;
    background-color: #1a4766;
    color: white;
    border-top: none;
    border-bottom: .5px solid;
    border-left: none;
    border-right: none;
    min-width: 1rem;
}

.dropdown {
    margin: 1rem;
}